<div class="content">
  <div class="page-header">
    <h2>API Documentation</h2>
    <small>Here you can find how to use the API for sending the errors from your application.</small>
  </div>
  <!--/ .page-header -->
  <div class="row">
    <div class="col-md-3">
      <div>
        <ul class="nav nav-stacked">
          <li><a href="#rest-api">RESTful API</a></li>
          <li><a href="#grid-intro-2">Continue</a></li>
        </ul>

      </div>
    </div>
    <!--/ .col-md-4 -->

    <div class="col-md-9">
      <p class="lead">
        <strong>Narsil</strong> has an API which you can use to post the errors in your applications. Right now it only supports creating errors, not deleting or updating or getting them. Below you can find information about how to properly post data, how you can authenticate the wrapper of appropriate language.
      </p>

      <h3 id="rest-api">Creating an Error</h3>
      <p>
        For posting an error to Narsil, you will need a project code. This code is a unique identifier of the project. You <u>cannot post an error</u> without supplying the project code. Here are the columns that you will need to provide when you are creating an error.
      </p>
      <ul>
        <li><code><strong>project_code (*)</strong></code> Narsil need a project_code to create an error. Before posting errors here you have to create a project in the "Projects" section above in the menu. After creating the project you can get the project code from the detail page.</li>
        <li><code><strong>message (*)</strong></code> This is a short explanation of the error that's been occured. Please do not post the full stack trace here. An error <u>cannot be created</u> without the message property.</li>
        <li><code><strong>url</strong></code> Url of the page of the request that caused the error.</li>
        <li><code><strong>where</strong></code> Class, method or file information of the error.</li>
        <li><code><strong>occured_at (*)</strong></code> Time of the error as UTC.</li>
        <li><code><strong>browser</strong></code> The browser agent information of the error if it is a web application.</li>
        <li><code><strong>ip</strong></code> IP address of the client if it is a web application.</li>
        <li><code><strong>backtrace</strong></code> Full stack trace of the error. It's always useful to save the backtrace/stack trace of the error to get a full understanding of the error.</li>
      </ul>

      <p>Columns specified with <code>(*)</code> are mandatory.</p>

      <div class="bs-callout bs-callout-info">
        <h4>Rate Limits</h4>
        <p>There are no rate limits of using the API right now. <strong>So please do not give away the API key to our customers or anyone.</strong></p>
      </div>
      <h3>Media Queries</h3>
      <div class="highlight"><pre><code class="css"><span class="c">/* Extra small devices (phones, less than 768px) */</span>
      <span class="c">/* No media query since this is the default in Bootstrap */</span>

      <span class="c">/* Small devices (tablets, 768px and up) */</span>
      <span class="k">@media</span> <span class="o">(</span><span class="nt">min-width</span><span class="o">:</span> <span class="k">@screen-sm-min</span><span class="o">)</span> <span class="p">{</span> <span class="o">...</span> <span class="p">}</span>

      <span class="c">/* Medium devices (desktops, 992px and up) */</span>
      <span class="k">@media</span> <span class="o">(</span><span class="nt">min-width</span><span class="o">:</span> <span class="k">@screen-md-min</span><span class="o">)</span> <span class="p">{</span> <span class="o">...</span> <span class="p">}</span>

      <span class="c">/* Large devices (large desktops, 1200px and up) */</span>
      <span class="k">@media</span> <span class="o">(</span><span class="nt">min-width</span><span class="o">:</span> <span class="k">@screen-lg-min</span><span class="o">)</span> <span class="p">{</span> <span class="o">...</span> <span class="p">}</span>
      </code></pre></div>

      <h3 id="grid-intro-2">Introduction</h3>
      <p>Grid systems are used for creating page layouts through a series of rows and columns that house your content. Here's how the Bootstrap grid system works:</p>
      <ul>
        <li>Rows must be placed within a <code>.container</code> for proper alignment and padding.</li>
        <li>Use rows to create horizontal groups of columns.</li>
        <li>Content should be placed within columns, and only columns may be immediate children of rows.</li>
        <li>Predefined grid classes like <code>.row</code> and <code>.col-xs-4</code> are available for quickly making grid layouts. LESS mixins can also be used for more semantic layouts.</li>
        <li>Columns create gutters (gaps between column content) via <code>padding</code>. That padding is offset in rows for the first and last column via negative margin on <code>.row</code>s.</li>
        <li>Grid columns are created by specifying the number of twelve available columns you wish to span. For example, three equal columns would use three <code>.col-xs-4</code>.</li>
      </ul>
      <p>Look to the examples for applying these principles to your code.</p>
      <div class="bs-callout bs-callout-info">
        <h4>Grids and full-width layouts</h4>
        <p>Folks looking to create fully fluid layouts (meaning your site stretches the entire width of the viewport) must wrap their grid content in a containing element with <code>padding: 0 15px;</code> to offset the <code>margin: 0 -15px;</code> used on <code>.row</code>s.</p>
      </div>
    </div>
    <!--/ .col-md-8 -->
  </div>
  <!--/ .row -->

  
</div>
<!--/ .content -->