@import "font-awesome.css";
@import "twitter/bootstrap";

@import "app/assets/stylesheets/config";
@import "app/assets/stylesheets/utils";

html, body {
  height: 100%;
}

body {
  font-family: @font-family;
  margin: 0;
  padding: 50px 0 0 0;
  text-size-adjust:none;
  font-smoothing: antialiased;
  -webkit-text-size-adjust:none;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
  font-family: @font-family;
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

#footer {
  height: 60px;
  background-color: #f5f5f5;

  .container {
    padding-left: 15px;
    padding-right: 15px;

    p {
      margin: 20px 0;
    }
  }
}


.navbar-default {
  background: @base;
  border-color: @base;

  .navbar-nav > li > a {
    color: @light;

    &:hover {
      color: darken(@light, 10%);
    }
  }

  .navbar-nav > .open > a,
  .navbar-nav > .open > a:focus,
  .navbar-nav > .active > a,
  .navbar-nav > .active > a:hover {
    background-color: lighten(@base, 15%);
    color: @light;
  }

  img.avatar {
    float: left;
    width: 25px;
    height: 25px;
    border-radius: @radius;
    margin-right: 10px;
  }
}

.navbar > .container .navbar-brand {
  color: @light;

  img.logo {
    height: 16px;
  }
}

body.login {
  background: @base;
  color: @light;
  padding-top: 0;

  .login-container {
    width: 350px;
    margin: 0 auto;
    position: absolute;
    height: 384px;
    top: 50%;
    left: 50%;
    margin-top: -192px;
    margin-left: -174px;

    img.logo {
      width: 300px;
      margin: 0 auto 50px auto;
      display: block;
    }

    h2 {
      margin-bottom: 20px;
    }

    .input-container {
      margin-bottom: 15px;
    }
    
    p.copy {
      color: @copy;
      text-align: center;
      margin-top: 15px;
    }

  }
}